
    <center><!-- Moving this back to myStyle.css since center is phased out -->
    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img class="first-slide" src="img/1.jpg" alt="First slide">
          <div class="container">
            <div class="carousel-caption">
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="second-slide" src="img/2.jpg" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img class="third-slide" src="img/3.jpg" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
 
    </div><!-- /.carousel -->
</center>

<div class="section">



    <div class="container">

        <div class="row">
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-check-circle"></i> Multi-Utility</h3>
                <p>Kolibri on CGI:n multi-utility ratkaisu energia- ja vesitoimialoille. Se hyödyntää uutta Microsoft-teknologiaa ja Microsoftin Dynamics AX ja CRM -ratkaisuja. Sillä voidaan hoitaa sekä sähkön, kaukolämmön, maakaasun ja veden liiketoimintojen tarpeet.</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-pencil"></i> Asiakashallinta</h3>
                <p>Ratkaisu mahdollistaa myös isojen asiakasmäärien hallinnan ja asioiden hoitamisen sekä useiden yhtiöiden hallinnoinnin samassa järjestelmässä. Päätoimintoja ovat muun muassa asiakas-, sopimus- ja mittaustiedon hallinta, sekä laskutus ja saatavien valvonta. Ratkaisu sisältää myös raportointityökalun ja Online-palvelut.</p>
            </div>
            <div class="col-lg-4 col-md-4">
                <h3><i class="fa fa-folder-open"></i> Asiakaslähtöinen</h3>
                <p>Kolibri -ratkaisu on kehitetty yhdessä asiakkaiden kanssa. Ratkaisun suunnittelussa on jo alun alkaen huomioitu eriyttäminen ja luottamuksellisuus vaatimukset. Kolibri on helposti integroitavissa asiakkaiden muihin liiketoimintaa ohjaaviin järjestelmiin. Erilaiset sopimus- ja mittaustapahtumat synnyttävät ja käynnistävät automaattisesti sanomaliikenteen.</p>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="section-colored text-center">

    <div class="container">

        <div class="row">
            <div class="col-lg-12">
                <h2>CGI:llä on pitkä kokemus energia-alasta ja sen ratkaisuista</h2>
                <p>Asiakkaista koostuvat kehitysryhmät ja asiakaslähtöinen kehitys takaavat energia-alan tulevaisuuden haasteiden ja kehitystarpeiden huomioimisen ratkaisujen toteutuksessa.</p>
                <hr>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Liirum laarum kuvia</h2>
                <hr>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                </a>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="portfolio-item.html">
                    <img class="img-responsive img-home-portfolio" src="http://placehold.it/700x450">
                </a>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="section-colored">

    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2>Miksi CGI:n Kolibri?</h2>
                <ul>
                    <li>Vapauttaa resursseja toisiin tehtäviin </li>
                    <li>Yksinkertaistaa asiakaspalvelua ja myyntiä </li>
                    <li>Antaa mahdollisuuden tuotteiden ja sopimusmallien kehittämiselle</li>
                    <li>Tukee täydellisesti automaattista mittarinlukua ja laskutusta </li>
                    <li>Luo liiketoimintaa tukevia raportteja </li>
                    <li>Mittauksen tehtävien hallinta menettelyt automatisoivat prosesseja </li>
                    <li>Prosessien sisään rakennettu automaattinen sanomaliikenne</li>
                </ul>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-responsive" src="http://placehold.it/700x450/ffffff/cccccc">
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section-colored -->

<div class="section">

    <div class="container">

        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <img class="img-responsive" src="http://placehold.it/700x450">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <h2>Liirum laarum</h2>
                <ul>
                    <li>Liirum laarum</li>
                    <li>Liirum laarum</li>
                    <li>Liirum laarum</li>
                    <li>Liirum laarum</li>
                    <li>Liirum laarum</li>
                    <li>Liirum laarum</li>
                    <li>Liirum laarum!</li>
                    <li>Liirum laarum</li>
                    <li>Liirum laarum!</li>
                </ul>
            </div>
        </div>
        <!-- /.row -->

    </div>
    <!-- /.container -->

</div>
<!-- /.section -->

<div class="container">

    <div class="row well">
        <div class="col-lg-8 col-md-8">
            <h4>Liirum laarumLiirum laarumLiirum laarumLiirum laarumLiirum laarumLiirum laarum</h4>
            <p>Liirum laarumLiirum laarumLiirum laarumLiirum laarumLiirum laarumLiirum laarumLiirum laarum!</p>
        </div>
        <div class="col-lg-4 col-md-4">
            <a class="btn btn-lg btn-primary pull-right" href="http://startbootstrap.com">See More Templates!</a>
        </div>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->