<nav class="navbar navbar-inverse">
  <div class="container-fluid">
   <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Kolibri 360 (Logo)</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li><a href="#/">Kotisivu</a></li>></li>
        <li><a href="#/asiakkaat">Asiakkaat</a></li>
        <li><a href="#">Toiminto</a></li>
        <li><a href="#">Toiminto</a></li>
        <li><a href="#">Toiminto</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Nimi/Tunnus</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Kirjaudu Ulos</a></li>
      </ul>
    </div>
  </div>
</nav>
    
    
    